extends ../../../../templates/guesthome
block content
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/effects/paper-effect.css">

    <div class="container">
    <div class="btn-group">
    <a href="/guest/requests" style= "color: #fff; "><button style = "border: 1px solid #212A30; height: 30px; width:100px;  background-color: #1c1c1c; font-family: "KG Broken Vessels Sketch Regular"; ">Back to requests</button></a>
    </div>
    <div class="paper">
    <legend> ANOINTMENT INFORMATION </legend>
        each reservation in tbl_reservation  
            <div class= "calendar">  
                <ul style="list-style: none;">
                    label="Schedule"
                    li=reservation.date_schedule
                    label="Full name"
                    li=reservation.varchar_lastname+" "+reservation.varchar_firstname+" "+reservation.varchar_middlename
                    label="Birthday"
                    li=reservation.date_birthday
   
            </ul>
            </div>
            <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                a.button(class="btn btn-primary" href=`/guest/requests/annointment/${reservation.int_reservationid}/cancel` style="float:right; font-family:'KG Broken Vessels Sketch Regular'") Cancel Reservation
                a.button(class="btn btn-default" href=`/guest/requests/annointment/${reservation.int_reservationid}/edit` style="float:right; margin-right: 10px; font-family:'KG Broken Vessels Sketch Regular'") Edit
            </div>
            </div>
    
    </div>
            
    <br>
    </div>
    
    </div>