extends ../../../../templates/guesthome

block content
    <link rel="stylesheet" href="/styles/calendarnew.css">
    <div class="container">
    <div class="jumbotron">


    <div class="btn-group" style="width:100%">
    <a href="/guest/calendar/baptismalevents"><button>Baptismal</button></a>
    <a href="/guest/calendar/privateweddingevents"><button>Private Wedding</button></a>
    <a href="/guest/calendar/massweddingevents"><button>Mass Wedding</button></a>
    <a href="/guest/calendar/annointmentevents"><button>Annointment</button></a>
    <a href="/guest/calendar/funeralmassevents"><button>Funeral Mass</button></a>
    </div>
    each event in tbl_event  
        <div style="background-color:black; color:white; padding:20px;" class= "calendar">  
            <ul>
                label="Schedule"
                li=event.date_schedule
                label="Event"
                li=event.char_event
                label="Guest Username"
                li=event.varchar_username
                label="Priest Assigned"
                li=event.varchar_priestlastname                
                
            </ul>
            
        </div>
    <br>
        </div>
    </div>