extends ../../../../templates/secret.pug
block content
    <link rel="stylesheet" href="/styles/back.css">
    <div class="container">
    <div class="jumbotron">
    <div class="btn-group">
    <a href="/admin/reservationrequests/annointment"><button>Back</button></a>

    </div>
    <legend> ANOINTMENT INFORMATION </legend>
        each reservation in tbl_reservation  
            <div class= "calendar">  
                <ul>
                    label="Schedule"
                    li=reservation.date_schedule
                    label="Full name"
                    li=reservation.varchar_lastname+" "+reservation.varchar_firstname+" "+reservation.varchar_middlename
                    label="Birthday"
                    li=reservation.date_birthday
   
            </ul>
            
        </div>
    <br>
        </div>
    </div>